
<div style="margin: 10px">
  <div class="card">
    <div class="card-block k-form">
      <fieldset>
        <legend>Selection Settings</legend>
        <div class="k-form-field">
          <span>Mode</span>
          <input
            type="radio"
            name="mode"
            id="single"
            value="single"
            [(ngModel)]="mode"
            (change)="setSelectableSettings()"
          />
          <label class="k-radio-label" for="single">Single</label>
          <input
            type="radio"
            name="mode"
            id="multiple"
            value="multiple"
            [(ngModel)]="mode"
            (change)="setSelectableSettings()"
          />
          <label class="k-radio-label" for="multiple">Multiple</label>
        </div>
        <label class="k-form-field">
          <input
            type="checkbox"
            id="chkboxonly"
            [(ngModel)]="checkboxOnly"
            (change)="setSelectableSettings()"
          />
          <label class="k-checkbox-label" for="chkboxonly"
          >Use checkbox only selection</label
          >
        </label>
        <label class="k-form-field">
          <input
            type="checkbox"
            id="drag"
            [disabled]="checkboxOnly || mode === 'single'"
            [(ngModel)]="drag"
            (change)="setSelectableSettings()"
          />
          <label class="k-checkbox-label" for="drag"
          >Use drag selection</label
          >
        </label>
      </fieldset>
    </div>
  </div>
</div>

<div class="example-config">
  <button
    kendoButton
    themeColor="primary"
    [disabled]="!!running || value >= 100"
  >
    {{ value ? "Resume" : "Start" }}
  </button>
  <button kendoButton [disabled]="!running" (click)="stopProgress()">
    Stop
  </button>
  <button kendoButton [disabled]="!value" (click)="resetProgress()">
    Reset
  </button>
</div>
<kendo-progressbar [value]="value"></kendo-progressbar>

<kendo-grid #grid
  [selectable] = "selectableSettings"
  (selectionChange) = "onSelect($event)"
  [navigable] = "true"
  [resizable]="true"
  [kendoGridBinding]="gridData"
  [filterable]="true"
  [groupable]="true"
  [sortable]="true"
  [pageSize]="10"
  [pageable]="true"
  [rowClass]="rowCallback"
  [height]="510"
  (edit)="editHandler($event)">

  <kendo-grid-checkbox-column></kendo-grid-checkbox-column>
  <kendo-grid-column field="CompanyName" title="Company" [width]="140"></kendo-grid-column>
  <kendo-grid-column field="ContactName" title="Contact" [width]="120"></kendo-grid-column>
  <kendo-grid-column field="City" [width]="100"></kendo-grid-column>
  <kendo-grid-column field="ContactTitle" [width]="130">
    <ng-template kendoGridCellTemplate let-dataItem>
      <span *ngIf="dataItem.ContactTitle">
        {{ dataItem.ContactTitle }}
      </span>
      <span *ngIf="!dataItem.ContactTitle">
        <kendo-dropdownlist
          [data]="listItems"
          [defaultItem]="'Select item...'"
        >
        </kendo-dropdownlist>
      </span>

    </ng-template>

  </kendo-grid-column>

  <kendo-grid-column title="Actions" [width]="300">
    <ng-template kendoGridCellTemplate let-rowIndex="rowIndex" let-dataItem let-isNew="isNew">
<!--      <button class="k-button" (click)="grid.expandRow(rowIndex)">More actions</button>-->
      <button class = "k-button" (click)="disableRow(dataItem, rowIndex)">Disable</button>
      <button kendoGridEditCommand [primary]="true">Edit</button>

    </ng-template>
  </kendo-grid-column>
</kendo-grid>

<p class="k-block">
  <button kendoButton (click)="onSelectedClicked()">Bulk Disable</button>
</p>

<div class="example-wrapper">
  <p>T-shirt size:</p>
  <kendo-dropdownlist [data]="listItems"> </kendo-dropdownlist>
</div>
